{% set description = cmf_resource_description(resource) %}

<div item-path="{{ resource.path }}" class="item {{ resource.path == selectedPath ? ' ui yellow' : '' }}">
    <div class="content">
        <span class="grippy moving"></span>
        {% if resource.hasChildren %}
            <i class="{{ selectedPath|slice(0, resource.path|length) == resource.path ? 'folder open' : 'folder closed' }} icon"></i>
        {% else %}
            <i class="file icon"></i>
        {% endif %}

        {{ resource.name }}
    </div>
    <div class="browsing">
        {% if description.has('link.edit.html') %}
            <a href="{{ description.get('link.edit.html') }}"><i class="icon edit"></i></a>
        {% endif %}
    </div>
    <div>
        {% if resource.hasChildren %}
        <a href="{{ path('_cmf_column_browser_repository', { path: resource.path, repository: repositoryName}) }}" class="browsing ui right floated">
                <i class="angle double right icon"></i>
            </a>
        {% endif %}
    </div>
</div>

